@import url(./reset.css);


body{
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    line-height: 1.5;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

section {
    width: 100%;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
    padding: 20px;
    background-color: #141414;

    @media (min-width: 768px) {
        padding: 40px 80px;
    }
}

.menuDict {
    display: flex;
    justify-content: flex-end;
    height: auto;
    padding: 20px;
    background-color: #141414;
    color: white;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.menu__bar {
    width: fit-content;

    @media (min-width: 768px) {
        display: none;
    }
}

.menu__barItem {
    height: 5px;
    width: 30px;
    background-color: #e8d2f9;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu__barItem--1 {
    transform: translateY(-4px);
}

.menu__barItem--3 {
    transform: translateY(4px);
}

.open #menu__barItem--1 {
    transform: translateY(4px) rotateZ(-45deg);
}
  
.open #menu__barItem--2 {
    opacity: 0;
}
  
.open #menu__barItem--3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.menu__nav {
    display: none;
    width: 100%;

    @media (min-width: 768px) {
        display: block;
    }
}

.menu__nav.open {
    display: block;
}

.menu__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;

    @media (min-width: 768px) {
        flex-direction: row;
        font-size: 20px;
    }
}

.menu__listItem:hover{
    color: gray;
}

.container{
    background-color: #e8d2f9;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}

.container--dict{
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (min-width: 768px) {
        padding: 80px 40px;
        font-size: 20px;
    }
}

.profile {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 40px;
        background-color: #141414;
        color: white;
    }
}

.profile__text {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.profile__text--bold {
    font-weight: 500;
}

.profile__image{
    width: 200px;
    border-radius: 50%;
    border: 2px solid #e8d2f9;
}

.content {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (min-width: 768px) {
        padding: 80px 40px;
    }
}

.title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;

    @media (min-width: 768px) {
        display: none;
    }
}

.intro__image{
    width: 200px;
    border-radius: 50%;
    border: 2px solid #e8d2f9;
}

.intro__text--bold {
    font-weight: 600;
}

.disciplinas__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.5;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.disciplinas__listITem--bold{
    font-weight: 500;
}

.links__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.links__listItem:hover{
    color: gray;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 25px;
    background-color: #141414;
    color: white;
    text-align: center;

    @media (min-width: 768px) {
        padding: 40px 80px;
        font-size: 20px;
    }
}

.contact a:hover{
    color: gray;
}

.social__list {
    display: flex;
    gap: 10px;
}

.social__listIcon {
    display: inline-block;
    width: 24px;

    @media (min-width: 768px) {
        width: 36px;
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.footer__listItem:hover{
    color: gray;
}

.htmlDict__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.5;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}